<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dobestan.lipsum</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>BF23C4F2-2434-4FFF-AF97-6B31600CF619</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B848A929-7C71-4C67-9421-A89F88EF9D3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dobestan</string>
	<key>description</key>
	<string>Lorem Ipsum Generator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>lipsum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>lipsum</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching ...</string>
				<key>script</key>
				<string>python lipsum-paragraph.py "{query}"</string>
				<key>subtext</key>
				<string>Lorem Ipsum - generate paragraphs of Lorem Ipsum</string>
				<key>title</key>
				<string>lipsum - paragraph</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF23C4F2-2434-4FFF-AF97-6B31600CF619</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B848A929-7C71-4C67-9421-A89F88EF9D3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B848A929-7C71-4C67-9421-A89F88EF9D3E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BF23C4F2-2434-4FFF-AF97-6B31600CF619</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://alfred.lipsum.io</string>
</dict>
</plist>
